$font_text: "Work Sans", sans-serif;
$font_title: "Playfair Display", serif;
$background-gray: #f6f6f6;
$black-color: #000;
$text-gray: #5f5f5f;
$letter-space-text: 0.4px;
$line-high-text: 1.7rem;
$background-white: #fff;