@media (max-width: 1024px){
    .portfolio-box {
        margin-top: 50px !important;
    }
    .portfolio-category {
        margin-bottom: -80px;
    }
    .blogs-box {
        padding: 0 20px !important;
    }
    .blogs-res {
        width: 100% !important;
        height: unset !important;
    }
}
@media (max-width: 1023px){
    
}
@media (max-width: 768px){
    .category-list ul {
        flex-direction: column !important;
    }
   
}
@media (max-width: 767px){
    
}
@media (max-width: 500px){
    
}